<ion-header no-shadow>
  <ion-navbar no-border-bottom>
    <ion-buttons>
      <button (click)="dismiss()">
        返回
      </button>
    </ion-buttons>
    <ion-title center>同步上传</ion-title>
    <ion-buttons end>
      <button (click)="syncUpload()">
        <ion-icon name="md-cloud-upload" light></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- group -->
  <ion-item-group *ngFor="let inspGroup of facilityInspGroups">
    <!-- group header -->
    <ion-item-divider light>
      {{inspGroup.monomerId | OptionPipe:monomers}}
       - 
      {{inspGroup.modelId | OptionPipe:models}}
    </ion-item-divider>
    <!-- end of group header -->

    <!-- group item -->
    <ion-item *ngFor="let insp of inspGroup.mileages">
      <h5>{{insp.mileage}}</h5>
      <ion-badge item-right light-blue>{{insp.medias.length}}</ion-badge>
      <ion-badge item-right 
          [ngClass]="{'badge-danger': insp.status == 3,
            'badge-grey': insp.status == 1, 
            'badge-warining': insp.status != 1 && insp.status != 3}">
        {{insp.status | OptionPipe:statusList}}
      </ion-badge>
    </ion-item>
    <!-- end of group item -->
  </ion-item-group>
  <!--
  <ion-item-group>
    <ion-item-divider light>东线隧道-安全通道</ion-item-divider>
    <ion-item>
      <h5>EK-7840</h5>
      <ion-badge item-right light-blue>4</ion-badge>
      <ion-badge item-right danger>失败</ion-badge>
    </ion-item>
    <ion-item>
      <h4>EK-7840</h4>
      <ion-badge item-right light-blue>1</ion-badge>
      <ion-badge item-right grey>未同步</ion-badge>
    </ion-item>
    <ion-item>
      <h4>EK-7840</h4>
      <ion-badge item-right light-blue>3</ion-badge>
      <ion-badge item-right warning>242kb/500kb (1/4)</ion-badge>
    </ion-item>
    <ion-item>
      <h4>EK-7840</h4>
      <ion-badge item-right light-blue>3</ion-badge>
      <ion-badge item-right favorite>已完成</ion-badge>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider light>西线隧道-安全通道</ion-item-divider>
    <ion-item>
      <h5>EK-7840</h5>
      <ion-badge item-right light-blue>4</ion-badge>
      <ion-badge item-right danger>失败</ion-badge>
    </ion-item>
    <ion-item>
      <h4>EK-7840</h4>
      <ion-badge item-right light-blue>1</ion-badge>
      <ion-badge item-right grey>未同步</ion-badge>
    </ion-item>
    <ion-item>
      <h4>EK-7840</h4>
      <ion-badge item-right light-blue>3</ion-badge>
      <ion-badge item-right warning>242kb/500kb (1/4)</ion-badge>
    </ion-item>
    <ion-item>
      <h4>EK-7840</h4>
      <ion-badge item-right light-blue>3</ion-badge>
      <ion-badge item-right favorite>已完成</ion-badge>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider light>西线隧道-车道</ion-item-divider>
    <ion-item>
      <h5>EK-7840</h5>
      <ion-badge item-right light-blue>4</ion-badge>
      <ion-badge item-right danger>失败</ion-badge>
    </ion-item>
    <ion-item>
      <h4>EK-7840</h4>
      <ion-badge item-right light-blue>1</ion-badge>
      <ion-badge item-right grey>未同步</ion-badge>
    </ion-item>
    <ion-item>
      <h4>EK-7840</h4>
      <ion-badge item-right light-blue>3</ion-badge>
      <ion-badge item-right warning>242kb/500kb (1/4)</ion-badge>
    </ion-item>
    <ion-item>
      <h4>EK-7840</h4>
      <ion-badge item-right light-blue>3</ion-badge>
      <ion-badge item-right favorite>已完成</ion-badge>
    </ion-item>
  </ion-item-group>
  -->
</ion-content>
