$menu-tip-item-radius: 40px;
.menu-tip-item{
  padding: 0px;
  transition: all 0.2s;
  position: absolute;
  display: none;
  z-index: 100;
  width: $menu-tip-item-radius;
  height: $menu-tip-item-radius;
  border-radius: 100%;
  background-color: color($colors, deep-blue);
  color: color($colors, light);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);

  img{
    margin: $menu-tip-item-radius * 0.15;
    width: $menu-tip-item-radius * 0.7;
    height: $menu-tip-item-radius * 0.7;
  }
}
.menu-tip-handler{
  z-index: 101;
}