<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()">
        取消
      </button>
    </ion-buttons>
    <ion-title>环境巡检记录</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="activity_history_detail">
  <ion-list>
    <ion-item>
      <ion-label>活动名称</ion-label>
      <ion-input type="text" [(ngModel)]="activityDetailObj.act_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>活动类别</ion-label>
      <ion-select [(ngModel)]="activityDetailObj.act_type" okText="确认" cancelText="取消">
        <ion-option *ngFor="let actType of actTypes" [value]="actType.order">{{actType.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>起始日期</ion-label>
      <ion-datetime displayFormat="YYYY.MM.DD" [(ngModel)]="activityDetailObj.start_date"></ion-datetime>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>结束日期</ion-label>
      <ion-datetime displayFormat="YYYY.MM.DD" [(ngModel)]="activityDetailObj.end_date"></ion-datetime>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>活动状态</ion-label>
      <ion-select [(ngModel)]="activityDetailObj.act_status" okText="确认" cancelText="取消">
        <ion-option *ngFor="let actStatus of actStatusList" [value]="actStatus.order">{{actStatus.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>记录人</ion-label>
      <ion-input type="text" [(ngModel)]="activityDetailObj.recorder"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>描述</ion-label>
      <ion-textarea rows="6" [(ngModel)]="activityDetailObj.description"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>