<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()">
        取消
      </button>
    </ion-buttons>
    <ion-title>创建环境活动</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="activity_detail">
  <ion-list>
    <ion-item>
      <ion-label>活动名称</ion-label>
      <ion-input type="text" [(ngModel)]="activityDetailObj.actName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>活动类别</ion-label>
      <ion-select [(ngModel)]="activityDetailObj.actType" okText="确认" cancelText="取消">
        <ion-option *ngFor="let actType of actTypes" [value]="actType.order">{{actType.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>起始日期</ion-label>
      <ion-datetime displayFormat="YYYY.MM.DD" min="2013" max="2030-10-31" [(ngModel)]="activityDetailObj.startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>结束日期</ion-label>
      <ion-datetime displayFormat="YYYY.MM.DD" min="2013" max="2030-10-31" [(ngModel)]="activityDetailObj.endDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>活动状态</ion-label>
      <ion-select [(ngModel)]="activityDetailObj.actStatus" okText="确认" cancelText="取消" disabled="true">
        <ion-option *ngFor="let actStatus of actStatusList" [value]="actStatus.order">{{actStatus.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>记录人</ion-label>
      <ion-input type="text" [(ngModel)]="activityDetailObj.recorder" disabled="true"></ion-input>
    </ion-item>
    <ion-item class="img-gallery">
      <ion-scroll scrollX="true">
        <div class="img-item">
          <div class="img-layer">
            <img src="build/imgs/camera.png" (click)="captureMedia()"/>
          </div>
        </div>
        <div class="img-item" *ngFor="let media of medias">
          <div class="img-layer">
            <img src="{{media.preview}}" mediaViewer [mediaContent]="media"/>
          </div>
        </div>
      </ion-scroll>
    </ion-item>
    <ion-item>
      <ion-label>描述</ion-label>
      <ion-textarea rows="6" [(ngModel)]="activityDetailObj.description"></ion-textarea>
    </ion-item>
  </ion-list>

  <div padding>
    <button block (click)="createActivity(activityDetailObj)" secondary>创建</button>
  </div>
</ion-content>