  .datetime-text {
      color: white !important;
  }
  
  .simulate-ion-label {
      margin-left: 16px;
      height: 43px;
      border-bottom: 1px solid white;
      font-size: 1.6rem;
      color: white;
      ion-label {
          float: left;
      }
      .time-picker {
          float: right;
          width: 75%;
          text-align: right;
          margin-right: 16px;
          line-height: 43px;
      }
  }
