.img-gallery{
  ion-scroll{
    height: 120px;
  }
  ion-label{
    margin-right: 0px;
    .img-item{
      height: 100px;
      width: 25%;
      padding: 5px;
      display: inline-block;
      background: #fff;
      margin-right: 5px;
      overflow: hidden;
      
      &:first-child{
        background-color: transparent;
        padding: 5px;
      }
      .img-layer{
        height: 90px;
        text-align: center;
        line-height: 90px;
        /* background-image: url('../imgs/rolling.gif'); */
        background-repeat:no-repeat; 
        background-position:center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        display: flex;

        img{
          max-height: 100%;
          max-width: 100%;
          display: inline-block;
        }
      }
      
    }
  }
  
}