@import './ground/ground.scss';

ion-tabbar{
  a.tab-button:nth-child(3n){
    overflow: visible;
    flex: 1.4;
    text-align: center;
    -webkit-box-align: center;   
      -moz-box-align: center;   
      -ms-flex-align: center;   
    -webkit-align-items: center;   
            align-items: center;   
    -webkit-box-pack: center;   
      -moz-box-pack: center;   
      -ms-flex-pack: center;   
    -webkit-justify-content: center;   
            justify-content: center;   
    & > ion-icon{
      flex: 1;
      position: relative;
      top: -2.4rem;
      overflow: visible;
      display: inline-block;
      &:before{
        content: "\f34a";
        font-size: 5rem;
        width: 6rem;
        display: block;
        height: 6rem;
        line-height: 6rem;
        background: #0c2c48;
        border-radius: 100%;
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
        display: inline-block;
        font-family: "Ionicons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
    }
    &:active, &.active{
      & > ion-icon:before{
        color: color($colors, light-blue);
      }
    }
  }
}
