@import './ground/ground.scss';

#tab-t0-2{
  overflow: visible;
  & > ion-icon{
    flex: 1;
    position: absolute;
    margin-top: -30px;
    overflow: visible;
    &:before{
      content: "\f272";
      font-size: 6rem;
      width: 6rem;
      display: block;
      height: 6rem;
      line-height: 6rem;
      background: #0c2c48;
      border-radius: 100%;
      box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
      display: inline-block;
      font-family: "Ionicons";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }
  &:active, &.active{
    & > ion-icon:before{
      color: color($colors, light-blue);
    }
  }
}