@import './ground/ground.scss';

#tab-t0-2{
  overflow: visible;
  & > ion-icon{
    flex: 1;
    position: absolute;
    margin-top: -30px;
    overflow: visible;
    &:before{
      font-size: 6rem;
      color: #ccc;
    }
  }
}