// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import "globals.core";

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

/*
$colors: (
  primary:    #f8f8f8,
  secondary:  #32db64,
  danger:     #f53d3d,
  light-blue: #57b7da,
  deep-blue: #0c2c48,
  light:      #f4f4f4,
  dark:       #333,
  favorite:   #69BB7B
);
*/

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light-blue: #57b7da,
  deep-blue: #202737,
  light:      #f4f4f4,
  dark:       #000,
  favorite:   #69BB7B,
  grey: #999,
  blue: #387ef5,
  light-white: rgba(255, 255, 255, 0.9),
  background-light: #f2f2f2,
  warning: #f0ad4e
);