// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../app";
@import "../pages/login/login";
@import '../pages/main/main';
@import "../shared/components/components";

ion-app{
  background-image: url("/build/imgs/app-bg.jpg");
}
/* tab bar*/
ion-tabbar{
  background-color: color($colors, deep-blue);
  .tab-button[aria-selected=true]{
    color: color($colors, light-blue);
  }
  .tab-button[aria-selected=false]{
    color: color($colors, primary);
  }
}
.clear{
  &:after{
    content: " ";
    clear: both;
  }
}

/* menu content */
.menu-content-push{
  transition: all 0.2s;
  &.menu-content-open{
    top: 10rem;
  }
}

/* toolbar */
.toolbar{
  padding: 10px;
  .toolbar-background{
    background-color: color($colors, deep-blue);
  }
}

/* ion-alert */
ion-alert{
  .alert-wrapper{
    .alert-button-group{
      .alert-button{
        color: color($colors, dark);
      }
    }
    .alert-radio-group{
      button.alert-radio[aria-checked=true]{
        alert-radio-label{
          color: color($colors, deep-blue);
        }
      }
    }
  }
  &.alert-bottom{
    .alert-wrapper{
      position: absolute;
      bottom: 70px;
    }
  }
}

.toolbar-title{
  color: color($colors, light);
}

.toast-message {
  background: rgba(0,0,0,0.4);
}

ion-content{
  background-color: transparent;
}

ion-modal{
  .modal-wrapper{
    background-image: url('/build/imgs/modal-bg.jpg');
  }
}

ion-item.item{
   background-color: transparent;
}

.text-input{
  color: color($colors, light);
}