// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../app";
@import "../pages/login/login";
@import '../pages/main/main';
@import "../shared/components/components";

ion-app{
  background: url("../imgs/app-bg.jpg") no-repeat center center fixed;
  background-size: auto 100%;
}
/* tab bar*/
ion-tabbar{
  height: 5.8rem;
  background-color: color($colors, deep-blue);
  border-top: color($colors, dark);
  .tab-button[aria-selected=true]{
    color: color($colors, light-blue);
  }
  .tab-button[aria-selected=false]{
    color: color($colors, primary);
  }
}
.clear{
  &:after{
    content: " ";
    clear: both;
  }
}
/* ion-page */
ion-page{
  background: url('../imgs/modal-bg.jpg') no-repeat center center fixed;
}

/* menu content */
.menu-content-push{
  transition: all 0.2s;
  &.menu-content-open{
    top: 10rem;
  }
}

/* toolbar */
.toolbar{
  padding: 10px;
  .toolbar-background{
    background-color: color($colors, deep-blue);
  }
}

/* ion-alert */
ion-alert{
  .alert-wrapper{
    .alert-button-group{
      .alert-button{
        color: color($colors, dark);
      }
    }
    .alert-radio-group{
      button.alert-radio[aria-checked=true]{
        .alert-radio-icon{
          border-color: color($colors, light-blue);
        }
        .alert-radio-label{
          color: color($colors, light-blue);
        }
      }
    }
  }
  &.alert-bottom{
    .alert-wrapper{
      position: relative;
      margin-bottom: -20rem;
    }
  }
}

.toolbar-title{
  color: color($colors, light);
}

.toast-message {
  background: rgba(0,0,0,0.4);
}

ion-content{
  background-color: transparent;
}

ion-modal{
  .modal-wrapper{
    background: url('../imgs/modal-bg.jpg') no-repeat center center fixed;
  }
}

ion-item.item{
   background-color: transparent;
   &.item-input{
     ion-input{
       input.text-input{
         text-align: right;
       }
     }
   }
}

ion-select{
  .select-text{
    color: color($colors, light);
  }
}

.select-disabled, .item-select-disabled ion-label{
  opacity: 1;
}

.text-input{
  color: color($colors, light);
}

.bar-button-default{
  color: color($colors, light);
}

ion-header{
  background-color: color($colors, deep-blue);
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.3);
  ion-toolbar,ion-navbar{
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.3);
    .toolbar-background{
      border-bottom: none;
    }
  }
}

