// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../app";
@import "../pages/login/login";
@import '../pages/main/main';
@import "../shared/components/components";

ion-app{
  background: url("../imgs/bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.toolbar{
  min-height: 3.6rem;
  .toolbar-background{
    background-color: color($colors, deep-blue);
  }
  .toolbar-content{
    .toolbar-title{
      text-align: center;
      min-height: 0rem;
      color: color($colors, light);
    }
  }

  .bar-button-default{
    color: color($colors, light);
  }
}

ion-tabbar{
  height: 4.8rem;
  background: color($colors, dark);
  .tab-button{
    color: color($colors, light);
    opacity: 0.7;
    &[aria-selected=true]{
      opacity: 1;
      color: color($colors, blue);
    }
  }
}

ion-alert{
  .alert-wrapper{
    border-radius: 0px;
    .alert-head{
      border-bottom: 1px solid #eee;
      text-align: center;
      padding: 15px 10px;
      h2{
        font-size: 15px;
        font-weight: bold;
      }
    }
    .alert-message{
      padding: 10px;
    }
    background-color: color($colors, light-white);
    width: 250px;
    max-height: 90%;
    .alert-button-group{
      flex-wrap: initial;
      padding: 10px;
      button.alert-button{
        flex: 1;
        display: block;
        min-height: 45px;
        border-radius: 2px;
        line-height: 20px;
        margin-right: 5px;
        background-color: #fff;
        border-color: #b2b2b2;
        border-width: 1px;
        border-style: solid;
        color: color($colors, dark);

        &:last-child{
          background-color: color($colors, blue);
          color: color($colors, light);
        }
      }
    }
  }
  &.select-alert{
    .alert-head, .alert-message{
      display: none;
    }
    .alert-radio-group{
      button[aria-checked="true"]{
        .alert-radio-label{
          color: color($colors, blue);
        }
      }
    }
  }
}

ion-content{
  background-color: color($colors, background-light);
}
h5{
  font-size: 1.3rem;
}
.field-label{
  margin: 0;
  padding: 15px 15px 5px 10px;
  background: #f2f2f2;
  font-weight: 500 !important;
}
.assertive-field:after{
  content: '*';
  color: color($colors, danger);
  position: relative;
  bottom: -3px;
}
ion-item.item{
  min-height: 3rem;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  .item-inner{
    border-bottom: none;
    input{
      font-size: 1rem;
    }
  }
}

ion-modal{
  ion-toolbar.toolbar{
    .toolbar-background{
      background-color: color($colors, light);
    }
    .toolbar-content{
      .toolbar-title{
        color: color($colors, dark);
      }
    }
    ion-buttons[start]{
      button.bar-button-default{
        color: color($colors, blue);
      }
    }
  }
}

ion-datetime, ion-select{
  font-size: 1rem;
  padding: 0px;
  max-width: none;
  width: 100%;
  .select-icon{
    left: -5px;
  }
}

ion-input{
  input[type="text"]{
    margin: 0px;
  }
}
ion-list{
  button.act-card{
    margin-bottom: 5px;
    .item-inner{
      border-bottom: none;
    }
  }
}
