// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import "app.variables";


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// Ionic Material Design Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.md";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import "app.core";


// App Material Design Only Sass
// --------------------------------------------------
// CSS that should only apply to the Material Design app


ion-app{
  background: url("../imgs/bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}
/* tab bar*/
ion-tabbar{
  height: 5.8rem;
  background-color: color($colors, deep-blue);
  border-top: color($colors, dark);
  .tab-button[aria-selected=true]{
    color: color($colors, light-blue);
  }
  .tab-button[aria-selected=false]{
    color: color($colors, primary);
  }
}
.clear{
  &:after{
    content: " ";
    clear: both;
  }
}
/* ion-page */
ion-page{
  background: url('../imgs/modal-bg.jpg') no-repeat center center fixed;
}

/* menu content */
.menu-content-push{
  transition: all 0.2s;
  &.menu-content-open{
    top: 10rem;
  }
}

/* toolbar */
.toolbar{
  padding: 10px;
  .toolbar-background{
    background-color: color($colors, deep-blue);
  }
}

/* ion-alert */
ion-alert{
  .alert-wrapper{
    .alert-button-group{
      .alert-button{
        color: color($colors, dark);
      }
    }
    .alert-radio-group{
      button.alert-radio[aria-checked=true]{
        .alert-radio-icon{
          border-color: color($colors, light-blue);
        }
        .alert-radio-label{
          color: color($colors, light-blue);
        }
      }
    }
  }
  &.alert-bottom{
    .alert-wrapper{
      position: relative;
      margin-bottom: -20rem;
    }
  }
}

.toolbar-title{
  color: color($colors, light);
}

.toast-message {
  background: rgba(0,0,0,0.4);
}

ion-content{
  background-color: transparent;
}

ion-modal{
  .modal-wrapper{
    background: url('../imgs/modal-bg.jpg') no-repeat center center fixed;
  }
}

ion-item.item{
   background-color: transparent;
   &.item-input{
     ion-input{
       input.text-input{
         text-align: right;
       }
     }
   }
}

ion-select{
  .select-text{
    color: color($colors, light);
  }
}

.select-disabled, .item-select-disabled ion-label{
  opacity: 1;
}

.text-input{
  color: color($colors, light);
}

.bar-button-default{
  color: color($colors, light);
}

ion-header{
  background-color: color($colors, deep-blue);
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.3);
  ion-toolbar,ion-navbar{
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.3);
    .toolbar-background{
      border-bottom: none;
    }
  }
}


.item-select,.item-input,.item-datetime {
  ion-label{
    color: color($colors, light);
  }
}

.button-secondary{
  background-color: color($colors, light-blue);
}

ion-item-group {
    .act-card {
        color: color($colors, light);
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        &:active{
          background-color: rgba(0, 0, 0, 0.3);
        }
        .act-detail {
            color: color($colors, light); 
            p {
                margin-top: 5px;
                color: color($colors, light); 
            }
        }
        .item-inner{
            border-bottom: none;
        }
        ion-icon.item-icon{
            min-width: 2.4rem;
            img{
                width: 2.4rem;
            }
        }
    }
}

.datetime-text {
    color: white !important;
}