<ion-header no-shadow>
  <ion-navbar no-border-bottom>
    <ion-buttons>
      <button (click)="dismiss()">
        返回
      </button>
    </ion-buttons>
    <ion-title center>同步下载</ion-title>
    <ion-buttons  (click)="syncDownload()"  end>
      <button>
        <ion-icon name="md-cloud-download" light></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item-group *ngFor="let inspGroup of facilityInspGroups">
    <!-- group header -->
    <ion-item-divider light>
      {{inspGroup.monomerId | OptionPipe:monomers}}
       - 
      {{inspGroup.modelId | OptionPipe:models}}
    </ion-item-divider>
    <!-- end of group header -->
    <!-- group item -->
    <ion-item *ngFor="let insp of inspGroup.mileages">
      <h5>{{insp.mileage}}</h5>
      <ion-badge item-right light-blue>{{insp.diseaseSmrList.length}}</ion-badge>
      {{insp.diseaseSmrList}}
      <ion-badge item-right danger>失败</ion-badge>
    </ion-item>
    <!-- end of group item -->
  </ion-item-group>
</ion-content>