<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()">
        取消
      </button>
    </ion-buttons>
    <ion-title>添加病害</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="activity_detail">
  <ion-list>
    <h5 class="assertive-field field-label">病害大类</h5>
    <ion-item>
      <ion-select [(ngModel)]="diseaseDetailObj.diseaseTypeId" okText="确认" cancelText="取消">
        <ion-option *ngFor="let diseaseType of diseaseTypeList" [value]="diseaseType.id">{{diseaseType.name}}</ion-option>
      </ion-select>
    </ion-item>

    <h5 class="assertive-field field-label">病害小类</h5>
    <ion-item>
      <ion-select [(ngModel)]="diseaseDetailObj.detailTypeId" okText="确认" cancelText="取消">
        <ion-option *ngFor="let detailType of detailTypeList" [value]="detailType.id">{{detailType.name}}</ion-option>
      </ion-select>
    </ion-item>

    <h5 class="assertive-field field-label">病害描述</h5>
    <ion-item>
      <ion-textarea rows="6" [(ngModel)]="diseaseDetailObj.diseaseDescription"></ion-textarea>
    </ion-item>

    <div *ngIf="diseaseDetailObj.diseaseType == 'D2' || diseaseDetailObj.diseaseType == 'D3' || diseaseDetailObj.diseaseType == 'D4'">
      <h5 class="assertive-field field-label">面积</h5>
      <ion-item>
        <ion-input type="text" [(ngModel)]="diseaseDetailObj.area"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="diseaseDetailObj.diseaseType == 'D1' || diseaseDetailObj.diseaseType == 'D2'">
      <h5 class="assertive-field field-label">深度</h5>
      <ion-item>
        <ion-input type="text" [(ngModel)]="diseaseDetailObj.depth"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="diseaseDetailObj.diseaseType == 'D1'">
      <h5 class="assertive-field field-label">长度</h5>
      <ion-item>
        <ion-input type="text" [(ngModel)]="diseaseDetailObj.length"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="diseaseDetailObj.diseaseType == 'D1'">
      <h5 class="assertive-field field-label">宽度</h5>
      <ion-item>
        <ion-input type="text" [(ngModel)]="diseaseDetailObj.width"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="diseaseDetailObj.diseaseType == 'D5'">
      <h5 class="assertive-field field-label">张开量</h5>
      <ion-item>
        <ion-input type="text" [(ngModel)]="diseaseDetailObj.jointopen"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="diseaseDetailObj.diseaseType == 'D7'">
      <h5 class="assertive-field field-label">错开量</h5>
      <ion-item>
        <ion-input type="text" [(ngModel)]="diseaseDetailObj.dislocation"></ion-input>
      </ion-item>
    </div>

    <h5 class="assertive-field field-label">是否申请维修</h5>
    <ion-item>
      <ion-select [(ngModel)]="diseaseDetailObj.needRepair">
        <ion-option value="true">是</ion-option>
        <ion-option value="false">否</ion-option>
      </ion-select>
    </ion-item>
    <h5 class="field-label">照片</h5>
    <ion-list>
      <ion-item class="img-gallery">
        <ion-scroll scrollX="true">
          <div class="img-item">
            <button clear type="button" class="img-layer" CaptureMedia [imgOnly]="true" (onCaptured)="captureMedia($event)">
              <img src="build/imgs/camera.png">
            </button>
          </div>
          <div class="img-item" *ngFor="let photo of photos">
            <button clear type="button" class="img-layer">
              <img src="{{photo.preview}}" mediaViewer [mediaContent]="photo"/>
            </button>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-list>
    <h5 class="assertive-field field-label">病害编号</h5>
    <ion-item>
      <ion-input type="text" [(ngModel)]="diseaseDetailObj.diseaseNo" disabled="true"></ion-input>
    </ion-item>

    <h5 class="assertive-field field-label">里程</h5>
    <ion-item>
      <ion-input type="text" [(ngModel)]="diseaseDetailObj.mileage" disabled="true"></ion-input>
    </ion-item>

    <h5 class="assertive-field field-label">隧道内方位</h5>
    <ion-item>
      <ion-input type="text" [(ngModel)]="diseaseDetailObj.displayModelName" disabled="true"></ion-input>
    </ion-item>

    <h5 class="assertive-field field-label">记录人</h5>
    <ion-item>
      <ion-input type="text" [(ngModel)]="diseaseDetailObj.displayRecorder" disabled="true"></ion-input>
    </ion-item>

    <h5 class="assertive-field field-label">日期</h5>
    <ion-item>
      <ion-input type="text" [(ngModel)]="diseaseDetailObj.displayDiseaseDate" disabled="true"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button (click)="createDisease(diseaseDetailObj)" block>创建</button>
  </div>
  
</ion-content>
