status-picker{
  display: flex;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: 0px 5px;

  button.button{
    flex: 1;
    width: 0;
    height: 3.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: color($colors, grey);
    font-size: 1.3rem;
    line-height: 3rem;
    color: color($colors, grey);
    background-color: transparent;

    position: relative;
    display: block;
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    transition: 100ms all linear;
    border-radius: 0px;
    
    &:first-child{
      margin-right: 0;
      border-radius: 4px 0 0 4px;
      border-right: none;
    }

    &:last-child{
      margin-left: 0;
      border-left-width: 0;
      border-radius: 0 4px 4px 0;
    }

    &[aria-pressed=false]{
      background-color: transparent;
    }

  }
}