<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()">
        取消
      </button>
    </ion-buttons>
    <ion-title>创建环境活动</ion-title>
    <ion-buttons round end>
      <button (click)="createActivity(activityDetailObj)">
        创建
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="activity_detail">
  <ion-list>
    <ion-item>
      <ion-label>活动名称</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>活动类别</ion-label>
      <ion-select [(ngModel)]="activityDetailObj.activityType" okText="确认" cancelText="取消">
        <ion-option *ngFor="let actType of actTypes" [value]="actType.value">{{actType.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>巡检时间</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>活动状态</ion-label>
      <ion-select [(ngModel)]="activityDetailObj.activityStatus" okText="确认" cancelText="取消">
        <ion-option *ngFor="let actStatus of actStatusList" [value]="actStatus.value">{{actStatus.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>记录人</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>描述</ion-label>
      <ion-textarea rows="6" [(ngModel)]="activityDetailObj.description"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>