@import './components/activity_detail/activity_detail';

.ground-page{
  suidao-map{
    width: 100%;
    height: 100%;
    display: block;
  }

  .searchbar-container{
    position: absolute;
    background: transparent;
    z-index: 1000;
    width: 90%;
    left: 5%;

    ion-searchbar{
      background: rgba(255,255,255,0.4);
      border-radius: 5px;
      margin-top: 20px;
      border: none;
      .searchbar-search-icon{
        background-image: none;
        &:before{
          font-size: 2rem;
          margin-top: -0.1rem;
          content: "\f375";
          display: inline-block;
          font-family: "Ionicons";
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-rendering: auto;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          color: color($colors, dark);
        }
      }
      .searchbar-input-container{
        input.searchbar-input{
          box-shadow: none;
          background-color: transparent;
          &::-webkit-input-placeholder {
            color: color($colors, dark);
          }
        }
      }
    }
  }
}