<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()">
        返回
      </button>
    </ion-buttons>
    <ion-title center>
      {{myDisease}}
    </ion-title>
  </ion-toolbar>
  <div padding>
    <ion-segment [(ngModel)]="selectedPage">
      <ion-segment-button value="detail">
        灾害信息
      </ion-segment-button>
      <ion-segment-button value="history">
        历史列表
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content>
  <div [hidden]="selectedPage !== 'detail'">
    <ion-list>
      <h5 class="assertive-field field-label">病害编号</h5>
      <ion-item>
        <ion-input type="text" [(ngModel)]="diseaseDetailObj.diseaseNo" disabled="true"></ion-input>
      </ion-item>

      <h5 class="assertive-field field-label">里程</h5>
      <ion-item>
        <ion-input type="text" [(ngModel)]="diseaseDetailObj.mileage" disabled="true"></ion-input>
      </ion-item>

      <h5 class="assertive-field field-label">隧道内方位</h5>
      <ion-item>
        <ion-input type="text" [(ngModel)]="diseaseDetailObj.displayModelName" disabled="true"></ion-input>
      </ion-item>

      <h5 class="assertive-field field-label">日期</h5>
      <ion-item>
        <ion-input type="text" [(ngModel)]="diseaseDetailObj.displayDiseaseDate" disabled="true"></ion-input>
      </ion-item>

      <h5 class="assertive-field field-label">病害大类</h5>
      <ion-item>
        <ion-input type="text" [(ngModel)]="diseaseDetailObj.displayDiseaseType" disabled="true"></ion-input>
      </ion-item>

      <h5 class="assertive-field field-label">病害小类</h5>
      <ion-item>
        <ion-select [(ngModel)]="diseaseDetailObj.detailTypeId" okText="确认" cancelText="取消" disabled={{!isEditing}}>
          <ion-option *ngFor="let detailType of detailTypeList" [value]="detailType.id">{{detailType.name}}</ion-option>
        </ion-select>
      </ion-item>

      <h5 class="assertive-field field-label">病害描述</h5>
      <ion-item>
        <ion-textarea rows="6" [(ngModel)]="diseaseDetailObj.diseaseDescription" disabled={{!isEditing}}></ion-textarea>
      </ion-item>

      <div *ngIf="diseaseDetailObj.diseaseType == 'D2' || diseaseDetailObj.diseaseType == 'D3' || diseaseDetailObj.diseaseType == 'D4'">
        <h5 class="assertive-field field-label">面积</h5>
        <ion-item>
          <ion-input type="text" [(ngModel)]="diseaseDetailObj.area" disabled={{!isEditing}}></ion-input>
        </ion-item>
      </div>

      <div *ngIf="diseaseDetailObj.diseaseType == 'D1' || diseaseDetailObj.diseaseType == 'D2'">
        <h5 class="assertive-field field-label">深度</h5>
        <ion-item>
          <ion-input type="text" [(ngModel)]="diseaseDetailObj.depth" disabled={{!isEditing}}></ion-input>
        </ion-item>
      </div>

      <div *ngIf="diseaseDetailObj.diseaseType == 'D1'">
        <h5 class="assertive-field field-label">长度</h5>
        <ion-item>
          <ion-input type="text" [(ngModel)]="diseaseDetailObj.length" disabled={{!isEditing}}></ion-input>
        </ion-item>
      </div>

      <div *ngIf="diseaseDetailObj.diseaseType == 'D1'">
        <h5 class="assertive-field field-label">宽度</h5>
        <ion-item>
          <ion-input type="text" [(ngModel)]="diseaseDetailObj.width" disabled={{!isEditing}}></ion-input>
        </ion-item>
      </div>

      <div *ngIf="diseaseDetailObj.diseaseType == 'D5'">
        <h5 class="assertive-field field-label">张开量</h5>
        <ion-item>
          <ion-input type="text" [(ngModel)]="diseaseDetailObj.jointopen" disabled={{!isEditing}}></ion-input>
        </ion-item>
      </div>

      <div *ngIf="diseaseDetailObj.diseaseType == 'D7'">
        <h5 class="assertive-field field-label">错开量</h5>
        <ion-item>
          <ion-input type="text" [(ngModel)]="diseaseDetailObj.dislocation" disabled={{!isEditing}}></ion-input>
        </ion-item>
      </div>

      <h5 class="assertive-field field-label">是否申请维修</h5>
      <ion-item>
        <ion-select [(ngModel)]="diseaseDetailObj.needRepair" disabled={{!isEditing}}>
          <ion-option value="true">是</ion-option>
          <ion-option value="false">否</ion-option>
        </ion-select>
      </ion-item>
      <h5 class="field-label" [hidden]="isEditing">
        照片
      </h5>
      <ion-list [hidden]="isEditing">
        <ion-item class="img-gallery">
          <ion-scroll scrollX="true">
            <div class="img-item" *ngFor="let latestPhoto of latestPhotos">
              <button clear type="button" class="img-layer">
                <img src="{{latestPhoto.preview}}" mediaViewer [mediaContent]="latestPhoto"/>
              </button>
            </div>
          </ion-scroll>
        </ion-item>
      </ion-list>
      <h5 class="field-label" [hidden]="!isEditing">
        照片
        <button clear CaptureMedia (onCaptured)="captureMedia($event)" type="button" [imgOnly]="true">
          <ion-icon name="ios-camera"></ion-icon>
        </button>
      </h5>
      <ion-list [hidden]="!isEditing">
        <ion-item class="img-gallery">
          <ion-scroll scrollX="true">
            <div class="img-item" *ngFor="let photo of photos">
              <button clear type="button" class="img-layer">
                <img src="{{photo.preview}}" mediaViewer [mediaContent]="photo"/>
              </button>
            </div>
          </ion-scroll>
        </ion-item>
      </ion-list>

    </ion-list>
    <div padding>
      <button block (click)="update()" *ngIf="isEditing">更新</button>
      <button block (click)="isEditing = false;" *ngIf="isEditing" warning>取消</button>
      <button block (click)="edit()" *ngIf="!isEditing">编辑</button>
    </div>
  </div>

  <div [hidden]="selectedPage !== 'history'">
    <ion-list>
      <ion-item-group>
        <div>
          <button clear ion-item (click)="showHistory(idx)" class="act-card" *ngFor = "let el of diseaseHistoryList; let idx=index">
            <ion-icon item-left name="ios-pin-outline"></ion-icon>
            <div item-inner class="act-detail">
              <h3>{{_convertRecorder(diseaseHistoryList[idx].recorder)}}</h3>
              <p>
                <!-- {{displayDiseaseType(diseaseHistoryList[idx])}} -->
                &mdash;
                {{_convertDate(diseaseHistoryList[idx].createDate)}}
              </p>
            </div>
          </button>
        </div>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>