<ion-header no-shadow #header>
  <ion-toolbar no-border-bottom>
    <ion-buttons start>
      <button ion-button icon-only (click)="toggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title center [hidden]="!onGround">
      环境巡检
    </ion-title>
    <ion-title center [hidden]="onGround" class="underground-title">
      <ion-icon SelectPopover [itemList]="directions" [itemDisplayName]="'name'" (selectChanged)="selectedTunnelDirectionChanged($event)">
        {{selectedTunnelOption.direction.name}}
      </ion-icon>
      -
      <ion-icon SelectPopover [itemList]="structs" [itemDisplayName]="'name'" (selectChanged)="selectedTunnelStructChanged($event)">
        {{selectedTunnelOption.struct.name}}
      </ion-icon>
    </ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="switchView()" primary>
        <ion-icon name="md-swap"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="sub-header" [hidden]="onGround" no-border>
    <button ion-button icon-only class="icon-holder" (click)="scanCode()" clear>
      <ion-icon name="md-barcode"></ion-icon>
      <p>扫一扫</p>
    </button>
     <ion-searchbar class="insp-activity-searchbar"  (click)="searchClickHanlder()" [showCancelButton]="true" [(ngModel)]="searchArg" placeholder="输入评估段号进行查询" (ionInput)="onInput($event)" cancelButtonText="取消"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="xunjian-page" #mainContent>
  <ground [hidden]="!onGround" ></ground>
  <underground [hidden]="onGround"></underground>
</ion-content>