@import './components/observ_info/observ_info';
@import './components/observ_graph/observ_graph';
@import './components/disease_info/disease_info';

underground-page{
  .sub-header{
    position: fixed;
    width: 100%;
    left: 0px;
    background-color: color($colors, deep-blue);
    ion-icon{
      color: color($colors, light);
      font-size: 2.7rem;
      p{
        margin-top: 10px;
        color: color($colors, light);
      }
    }
    .item-inner{
      border-bottom: none !important;
      box-shadow: none !important;
      ion-input{
        background-color: color($colors, light);
        height: 2.8rem;
        line-height: 2.8rem;
        border-radius: 5px;
        margin-right: 10px;
        input{
          text-align: center !important;
          &::-webkit-input-placeholder{
            text-align: center;
            color: color($colors, dark);
          }
        }
      }
    }
  }
  .content-body{
    padding-top: 70px;
  }
}