@import './components/observ_info/observ_info';
@import './components/observ_graph/observ_graph';
@import './components/disease_info/disease_info';

underground-page{
  ion-card-content{
    position: relative;

    .disease-icon{
      position: absolute;
      z-index: 1;
      width: 30px;
      height: 30px;
    }
  }
}