<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()">
        返回
      </button>
    </ion-buttons>
    <ion-title center>
      <ion-label>里程号: {{huanhao}}</ion-label>
    </ion-title>
    <ion-buttons end>
      <button (click)="viewGraph()">
        <ion-icon name="md-map"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <div padding>
    <ion-segment [(ngModel)]="selectedPage">
      <ion-segment-button value="disease">
        病害列表
      </ion-segment-button>
      <ion-segment-button value="maitain">
        维修列表
      </ion-segment-button>
      <ion-segment-button value="assert">
        评估结果
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>
<ion-content>

  <div [hidden]="selectedPage !== 'disease'">
    <ion-list>
      <ion-item-group>
        <button clear ion-item class="act-card" *ngFor = "let disease of diseaseList" (click)="viewDisease(disease)">
          <ion-icon item-left><img src="{{diseaseTypes[disease.facilityType].icon}}"/></ion-icon>
          <div item-inner class="act-detail">
            <h3>病害编号：{{disease.diseaseNo}}</h3>
            <p>
              {{diseaseTypes[disease.facilityType].name}}
              &mdash;
              {{_convertDate(disease.diseaseDate)}}
            </p>
          </div>
        </button>
      </ion-item-group>
    </ion-list>
    <div padding>
      <button block (click)="viewGraph()">创建</button>
    </div>
  </div>

  <div [hidden]="selectedPage !== 'maitain'">
    <ion-list>
      <ion-item-group>
        <button ion-item class="act-card" *ngFor = "let disease of diseaseList">
          <ion-icon item-left name="ios-construct"></ion-icon>
          <div item-inner class="act-detail">
            <h3>维修编号：{{disease.diseaseNo}}</h3>
            <p>
              {{diseaseTypes[disease.facilityType].name}}
              &mdash;
              {{_convertDate(disease.diseaseDate)}}
            </p>
          </div>
        </button>
      </ion-item-group>
    </ion-list>
  </div>

  <div [hidden]="selectedPage !== 'assert'">
   
  </div>
</ion-content>
