.login-page{
  &{
    background-image: url("../assets/imgs/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  & > scroll-content{
    display: table !important;
    width: 100%;
    height: 100%;
  }
  form.login-form{
    display: block;
    margin: 50px auto;
    vertical-align: middle;
    width: 90%;
    h1.title{
      margin-bottom: 50px; 
      color: #fff;
      font-size: 3.3rem;
    }
    ion-card{
      box-shadow: none;
      padding: 20px;
      background: transparent;
      
      ion-item{
        &.item{
          padding: 5px 16px;
          border-radius: 5px;
          margin-bottom: 15px;
          width: 96%;
          margin-left: 2%;
          background-color: color($colors, light);
          .text-input{
            color: color($colors, dark);
            text-align: left;
            font-size: 1.7rem;
          }
        }
        ion-icon{
          color: #b3b3b3;
        }
      }
    }
    $color-login-button: #b3b3b3;
    .btn-login{
      width: 70%;
      margin-left: 15%;
      margin-top: 50px;
      color: $color-login-button;
      border-color: $color-login-button;
      font-size: 1.2em;
      
    }
  }
}