<ion-header no-shadow #header>
  <ion-toolbar>
    <ion-title center>
      维修
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <div class="row">
        <div class="col icon-col">
          <ion-icon name="paper"></ion-icon>
        </div>
        <div class="col">
          <div class="row">
            <div class="col left">
              <h4>UPD Fxw20160927</h4>
            </div>
            <div class="col right">已完成</div>
          </div>
          <div class="row">
            <div class="col left">任务大类 定期检查</div>
            <div class="col right">任务小类 结构</div>
          </div>
          <div class="row">
            <div class="col left">计划开始时间 2016.01.01</div>
            <div class="col right">任务结束时间 2016.01.01</div>
          </div>
          <div class="row">
            <div class="col left">任务派发人 老星星</div>
            <div class="col right">任务执行人 老星星</div>
          </div>
          <div class="row">
            <div class="col left">任务派发时间 2015.12.01</div>
            <div class="col right">实际完成时间 2016.01.02</div>
          </div>
        </div>
      </div>

    </ion-item>
    <ion-item>
      <div class="row">
        <div class="col icon-col">
          <ion-icon name="paper"></ion-icon>
        </div>
        <div class="col">
          <div class="row">
            <div class="col left">
              <h4>UPD Fxw20160927</h4>
            </div>
            <div class="col right">已完成</div>
          </div>
          <div class="row">
            <div class="col left">任务大类 定期检查</div>
            <div class="col right">任务小类 结构</div>
          </div>
          <div class="row">
            <div class="col left">计划开始时间 2016.01.01</div>
            <div class="col right">任务结束时间 2016.01.01</div>
          </div>
          <div class="row">
            <div class="col left">任务派发人 老星星</div>
            <div class="col right">任务执行人 老星星</div>
          </div>
          <div class="row">
            <div class="col left">任务派发时间 2015.12.01</div>
            <div class="col right">实际完成时间 2016.01.02</div>
          </div>
        </div>
      </div>

    </ion-item>
    <ion-item>
      <div class="row">
        <div class="col icon-col">
          <ion-icon name="paper"></ion-icon>
        </div>
        <div class="col">
          <div class="row">
            <div class="col left">
              <h4>UPD Fxw20160927</h4>
            </div>
            <div class="col right">已完成</div>
          </div>
          <div class="row">
            <div class="col left">任务大类 定期检查</div>
            <div class="col right">任务小类 结构</div>
          </div>
          <div class="row">
            <div class="col left">计划开始时间 2016.01.01</div>
            <div class="col right">任务结束时间 2016.01.01</div>
          </div>
          <div class="row">
            <div class="col left">任务派发人 老星星</div>
            <div class="col right">任务执行人 老星星</div>
          </div>
          <div class="row">
            <div class="col left">任务派发时间 2015.12.01</div>
            <div class="col right">实际完成时间 2016.01.02</div>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item>
        <div class="row">
          <div class="col icon-col">
            <ion-icon name="paper"></ion-icon>
          </div>
          <div class="col">
            <div class="row">
              <div class="col left">
                <h4>UPD Fxw20160927</h4>
              </div>
              <div class="col right">已完成</div>
            </div>
            <div class="row">
              <div class="col left">任务大类 定期检查</div>
              <div class="col right">任务小类 结构</div>
            </div>
            <div class="row">
              <div class="col left">计划开始时间 2016.01.01</div>
              <div class="col right">任务结束时间 2016.01.01</div>
            </div>
            <div class="row">
              <div class="col left">任务派发人 老星星</div>
              <div class="col right">任务执行人 老星星</div>
            </div>
            <div class="row">
              <div class="col left">任务派发时间 2015.12.01</div>
              <div class="col right">实际完成时间 2016.01.02</div>
            </div>
          </div>
        </div>
      </ion-item>
  </ion-list>
</ion-content>