<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()">
        取消
      </button>
    </ion-buttons>
    <ion-title>灾害记录</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="activity_history_detail">
  <ion-list>
    <h5 class="assertive-field field-label">灾害名称</h5>
    <ion-item>
      <ion-input type="text" [(ngModel)]="activityDetailObj.actName" disabled="true"></ion-input>
    </ion-item>
    <h5 class="assertive-field field-label">灾害大类</h5>
    <ion-item>
      <ion-input type="text" disabled="true" [(ngModel)]="activityDetailObj.actType" disabled="true"></ion-input>
    </ion-item>
    <h5 class="assertive-field field-label">灾害小类</h5>
    <ion-item>
      <ion-input type="text" disabled="true" [(ngModel)]="activityDetailObj.actType" disabled="true"></ion-input>
    </ion-item>
    <h5 class="assertive-field field-label">巡检日期</h5>
    <ion-item>
      <ion-input type="text" disabled="true" [(ngModel)]="activityDetailObj.inspDate" disabled="true"></ion-input>
    </ion-item>
    <h5 class="assertive-field field-label">活动状态</h5>
    <ion-item>
      <ion-input type="text" disabled="true" [(ngModel)]="activityDetailObj.actStatus" disabled="true"></ion-input>
    </ion-item>
    <h5 class="assertive-field field-label">记录人</h5>
    <ion-item>
      <ion-input type="text" [(ngModel)]="activityDetailObj.recorder" disabled="true"></ion-input>
    </ion-item>
    <h5 class="assertive-field field-label">描述</h5>
    <ion-item>
      <ion-textarea rows="6" disabled="true" [(ngModel)]="activityDetailObj.description" disabled="true"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
