<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()">
        取消
      </button>
    </ion-buttons>
    <ion-title center>
      更新活动
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="activity_info">
  <form [formGroup]="activityForm" (ngSubmit)="save(activityForm.value)">
    <h5 class="field-label">活动名称</h5>
    <ion-item>
      <ion-input [formControl]="activityForm.controls['actName']" disabled="true"></ion-input>
    </ion-item>

    <h5 class="assertive-field field-label">活动类别</h5>
    <ion-item>  
      <ion-select [formControl]="activityForm.controls['actType']" okText="确认" cancelText="取消">
        <ion-option *ngFor="let type of actTypes" [value]="type.id">{{type.name}}</ion-option>
      </ion-select>
    </ion-item>
    
    <h5 class="field-label">巡检时间</h5>
    <ion-item>
      <p>
        {{activityForm.controls['inspDate'].value | DatePipe}}
      </p>
    </ion-item>

    <h5 class="assertive-field field-label">活动状态</h5>
    <status-picker 
      [formControl]="activityForm.controls['actStatus']"
      [options]="actStatusList"
      [textField]="'name'"
      [valueField]="'id'"
      [disabled]="false">
    </status-picker>
    
    <h5 class="field-label">描述</h5>
    <ion-item>
      <ion-textarea rows="6" [formControl]="activityForm.controls['description']"></ion-textarea>
    </ion-item>

    <h5 class="field-label">
      多媒体
      <button clear CaptureMedia (onCaptured)="captureMedia($event)" type="button">
        <ion-icon name="ios-camera"></ion-icon>
      </button>
    </h5>
    <ion-list>
      <ion-item class="img-gallery">
        <ion-scroll scrollX="true">
          <div class="img-item" *ngFor="let media of medias">
            <button clear type="button" class="img-layer">
              <img src="{{media.preview}}" mediaViewer [mediaContent]="media" (press)="mediaLongClick(media)"/>
            </button>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-list>

    <div padding>
      <button type="submit" block>保存</button>
    </div>
  </form>
</ion-content>