<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()">
        取消
      </button>
    </ion-buttons>
    <ion-title center>
      编辑活动
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="activity_info">
  <form [formGroup]="activityForm" (ngSubmit)="save(activityForm.value)">
    <h5 class="field-label">活动编号</h5>
    <ion-item>
      <ion-input [formControl]="activityForm.controls['actNo']" disabled="true"></ion-input>
    </ion-item>
    <h5 class="field-label">活动名称</h5>
    <ion-item>
      <ion-input [formControl]="activityForm.controls['actName']" disabled="true"></ion-input>
    </ion-item>
    <h5 class="field-label">巡检时间</h5>
    <ion-item>
      <p>
        {{activityForm.controls['inspDate'].value | DatePipe}}
      </p>
    </ion-item>

    <h5 class="field-label">开始时间</h5>
    <ion-item>
      <p>{{activityForm.controls['startDate'].value | DatePipe}}</p>
    </ion-item>

    <h5 class="field-label">结束时间</h5>
    <ion-item>
      <p>{{activityForm.controls['endDate'].value | DatePipe}}</p>
    </ion-item>

    <h5 class="assertive-field field-label">活动状态</h5>
    <status-picker 
      [formControl]="activityForm.controls['actStatus']"
      [options]="actStatusList"
      [textField]="'name'"
      [valueField]="'order'"
      [disabled]="false">
    </status-picker>
    <h5 class="field-label">作成者</h5>
    <ion-item>
      <ion-input type="text" [formControl]="activityForm.controls['createUser']" disabled="true"></ion-input>
    </ion-item>
    <h5 class="field-label">记录人</h5>
    <ion-item>
      <ion-input type="text" [formControl]="activityForm.controls['recorder']" disabled="true"></ion-input>
    </ion-item>

    <h5 class="field-label">多媒体</h5>
    <ion-list>
      <ion-item class="img-gallery">
        <ion-scroll scrollX="true">
          <div class="img-item">
            <div class="img-layer" CaptureMedia (onCaptured)="captureMedia($event)">
              <img src="build/imgs/camera.png">
            </div>
          </div>
          <div class="img-item" *ngFor="let media of medias">
            <div class="img-layer">
              <img src="{{media.preview}}" mediaViewer [mediaContent]="media"/>
            </div>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-list>
    
    <h5 class="field-label">描述</h5>
    <ion-item>
      <ion-textarea rows="6" [formControl]="activityForm.controls['description']"></ion-textarea>
    </ion-item>

    <div padding>
      <button type="submit" block>保存</button>
    </div>
  </form>
</ion-content>