<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <button (click)="dismiss()">
        取消
      </button>
    </ion-buttons>
    <ion-title>活动详情</ion-title>
  </ion-toolbar>
  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="kittens">
        Kittens
      </ion-segment-button>
      <ion-segment-button value="puppies">
        Puppies
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'puppies'">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-puppy-1.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
      ...
    </ion-list>

    <ion-list *ngSwitchCase="'kittens'">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-kitten-1.jpg">
        </ion-thumbnail>
        <h2>Luna</h2>
      </ion-item>
      ...
    </ion-list>
  </div>
</ion-content>