underground{
  display: block;
  padding-top: 70px;
  ion-card-content{
    position: relative;

    .disease-icon{
      position: absolute;
      z-index: 1;
      width: 30px;
      height: 30px;
    }
  }
}