.login-page{
  &{
    background-image: url("/build/imgs/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  & > scroll-content{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title{
    color: #fff;
    font-size: 3.3rem;
  }
  form.login-form{
    display: block;
    width: 100%;
    h1.title{
      margin-bottom: 50px; 
    }
    ion-card{
      padding: 20px;
      background: transparent;
      
      ion-item{
        &{
          padding: 5px 16px;
          border-radius: 5px;
          margin-bottom: 15px;
        }
        ion-icon{
          color: #b3b3b3;
        }
      }
    }
    $color-login-button: #b3b3b3;
    .btn-login{
      width: 70%;
      margin-left: 15%;
      margin-top: 50px;
      color: $color-login-button;
      border-color: $color-login-button;
      font-size: 1.2em;
      
    }
  }
}