.login-page{
  &{
    background-image: url("../imgs/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  & > scroll-content{
    display: table !important;
    width: 100%;
    height: 100%;
  }
  form.login-form{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    h1.title{
      margin-bottom: 50px; 
      color: #fff;
      font-size: 3.3rem;
    }
    ion-card{
      box-shadow: none;
      padding: 20px;
      background: transparent;
      
      ion-item{
        &{
          padding: 5px 16px;
          border-radius: 5px;
          margin-bottom: 15px;
        }
        ion-icon{
          color: #b3b3b3;
        }
      }
    }
    $color-login-button: #b3b3b3;
    .btn-login{
      width: 70%;
      margin-left: 15%;
      margin-top: 50px;
      color: $color-login-button;
      border-color: $color-login-button;
      font-size: 1.2em;
      
    }
  }
}