<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()">
        取消
      </button>
    </ion-buttons>
    <ion-title center>
      <ion-icon item-left name="md-pin"></ion-icon>{{activityDetailObj.actName}}
    </ion-title>
    <ion-buttons end>
      <button (click)="edit()">
        更新
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="activity_info" #content>
  <div padding>
    <ion-segment [(ngModel)]="selectedPage" (ngModelChange)="switchSegment($event)">
      <ion-segment-button value="detail">
        活动详情
      </ion-segment-button>
      <ion-segment-button value="history">
        历史列表
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [hidden]="selectedPage !== 'detail'">
    <h5 class="field-label">活动编号</h5>
    <ion-item>
      <ion-input [(ngModel)]="activityDetailObj.actNo" disabled="true"></ion-input>
    </ion-item>

    <h5 class="field-label">活动名称</h5>
    <ion-item>
      <p>{{activityDetailObj.actName}}</p>
    </ion-item>

    <h5 class="field-label">活动类别</h5>
    <ion-item>
      <p>{{activityDetailObj.actType | OptionPipe:actTypes}}</p>
    </ion-item>

    <h5 class="field-label">活动状态</h5>
    <status-picker 
      [(ngModel)]="activityDetailObj.actStatus"
      [options]="actStatusList"
      [textField]="'name'"
      [valueField]="'order'"
      [disabled]="true">
    </status-picker>
    <h5 class="field-label">巡检时间</h5>
    <ion-item>
      <p>{{activityDetailObj.inspDate | DatePipe}}</p>
    </ion-item>

    <h5 class="field-label">开始时间</h5>
    <ion-item>
        <p>{{activityDetailObj.startDate | DatePipe}}</p>
    </ion-item>

    <h5 class="field-label">结束时间</h5>
    <ion-item>
      <p>{{activityDetailObj.endDate | DatePipe}}</p>
    </ion-item>
    <h5 class="field-label">作成者</h5>
    <ion-item>
      <ion-input type="text" [(ngModel)]="activityDetailObj.createUsername" disabled="true"></ion-input>
    </ion-item>
    <h5 class="field-label">记录人</h5>
    <ion-item>
      <ion-input type="text" [(ngModel)]="activityDetailObj.recorder" disabled="true"></ion-input>
    </ion-item>
    <h5 class="field-label">描述</h5>
    <ion-item>
      <ion-textarea rows="6" [(ngModel)]="activityDetailObj.description" disabled="true"></ion-textarea>
    </ion-item>
    <h5 class="field-label" *ngIf="activityDetailObj.medias.length">多媒体</h5>
    <ion-list>
      <ion-item class="img-gallery" *ngIf="activityDetailObj.medias.length">
        <ion-scroll scrollX="true">
          <div class="img-item" *ngFor="let media of activityDetailObj.medias">
            <button clear type="button" class="img-layer">
              <img [src]="media.preview | TrustUrl" mediaViewer [mediaContent]="media"/>
            </button>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-list>
  </div>

  <div [hidden]="selectedPage !== 'history'">
    <ion-list>
      <ion-item-group>
        <div>
          <button ion-item (click)="showHistory(el)" class="act-card" *ngFor = "let el of environmentActivityList; let idx=index">
            <ion-icon item-left name="md-pin" [ngClass]="el.actStatus | StatusPipe"></ion-icon>
            <div item-inner class="act-detail">
              <h3>{{el.recorder}}</h3>
              <p>
                {{el.actStatus | OptionPipe:actStatusList}}
                &mdash;
                {{el.inspDate | DatePipe}}
              </p>
            </div>
          </button>
        </div>
      </ion-item-group>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="正在加载历史数据...">
    </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>