<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()">
        取消
      </button>
    </ion-buttons>
    <ion-title center>活动详情</ion-title>
    <ion-buttons end>
      <button (click)="edit()">
        编辑
      </button>
    </ion-buttons>
  </ion-toolbar>
  <div padding>
    <ion-segment [(ngModel)]="selectedPage">
      <ion-segment-button value="detail">
        活动详情
      </ion-segment-button>
      <ion-segment-button value="history">
        历史列表
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content class="activity_info">
  <ion-grid [hidden]="selectedPage !== 'detail'">
    <ion-row class="parent-content">活动编号及其名称</ion-row>
    <ion-row class="sub-content"><ion-icon item-left name="md-pin"></ion-icon><span class="act-info">{{activityDetailObj.act_no}}   {{activityDetailObj.act_name}}</span></ion-row>
  </ion-grid>
  <ion-list [hidden]="selectedPage !== 'detail'">
    <ion-item>
      <ion-label>活动状态</ion-label>
      <ion-select [(ngModel)]="activityDetailObj.act_status" okText="确认" cancelText="取消">
        <ion-option *ngFor="let actStatus of actStatusList" [value]="actStatus.order">{{actStatus.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>描述</ion-label>
      <ion-textarea rows="6" [(ngModel)]="activityDetailObj.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>巡检时间</ion-label>
      <ion-datetime displayFormat="YYYY.MM.DD" [(ngModel)]="activityDetailObj.insp_date"></ion-datetime>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list [hidden]="selectedPage !== 'history'">
    <ion-item-group>
      <div>
        <ion-item>
          <ion-label class="act-no">活动编号：{{activityDetailObj.act_no}}</ion-label>
        </ion-item>
      </div>
      <div>
        <button ion-item (click)="showHistory(idx)" class="act-card" *ngFor = "let el of environmentActivityList; let idx=index">
          <ion-icon item-left name="md-pin"></ion-icon>
          <div item-inner class="act-detail">
            <h3>{{environmentActivityList[idx].recorder}}</h3>
            <p>
              {{_getLookUpValue(actStatusList, environmentActivityList[idx].actStatus)}}
              &mdash;
              {{_convertDate(environmentActivityList[idx].inspDate)}}
            </p>
          </div>
        </button>
      </div>
    </ion-item-group>
  </ion-list>
</ion-content>