<div class="searchbar-container">
  <button ion-button full (click)="searchActivity()"><ion-icon name="search"></ion-icon>
搜索巡检活动</button>
</div>
<suidao-map 
  ak="zgxxc54yRqlHYbh41UQSen3caLggkHys" 
  [options]="opts" 
  [changeOptions]="mapOptionEmitter"
  (onMarkerClicked)="clickMarker($event)"
  (onMapLoaded)="mapLoaded()"
></suidao-map>

<div class="pin" [class.active]="isEditing">
  <button class="create-insp" (click)="createInsp()">
    <span>从这里创建巡检</span>
  </button>
  <span class="marker">
    <img src="assets/imgs/map-marker.png" />
  </span>
</div>