
.bg {
  background-color: color($colors, light);
}
suidao-map{
  width: 100%;
  height: 100%;
  display: block;
  .BMap_shadow{
    display: none;
  }
  .BMapLabel{
    border-radius: 8px;
    color: color($colors, light);
  }
}

.button-full {
  margin-top: 3rem;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  color: color($colors, dark);
  &:active{
    background-color: rgba(255,255,255,0.5);
  }
}

.searchbar-container{
  position: absolute;
  background: transparent;
  z-index: 1000;
  width: 90%;
  left: 5%;

  ion-searchbar{
    background: rgba(255,255,255,0.4);
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    .searchbar-search-icon{
      background-image: none;
      &:before{
        font-size: 2rem;
        margin-top: -0.1rem;
        content: "\f375";
        display: inline-block;
        font-family: "Ionicons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        color: color($colors, dark);
      }
    }
    .searchbar-input-container{
      .searchbar-search-icon{
        margin-left: 0px !important;
      }
      input.searchbar-input{
        box-shadow: none;
        background-color: transparent;
        padding-left: 50% !important;
        margin-left: -42px;

        &::-webkit-input-placeholder {
          color: color($colors, dark);
        }
      }
    }
  }
}

.pin {
  position: absolute; 
  left: 0px;
  right: 0px; 
  top: 0px; 
  bottom: 0px;
  width: 30px;
  height: 30px;
  margin: auto;
  display: none;

  .create-insp {
    background: #fff;
    border-radius: 12px;
    padding: 10px 10px;
    text-align: center;
    width: 100px;
    font-size: 1rem;
    position: absolute;
    top: -45px;
    left: -35px;
    right: 0px;
    margin: auto;
    button {
      padding: 0px;
      background: transparent;
    }
    &::before {
      content: " ";
      width: 0px;
      position: absolute;
      left: 0px;
      right: 0px;
      margin: auto;
      border-left: solid transparent 9px;
      border-right: solid transparent 9px;
      border-top: solid #fff 8px;
      border-bottom: none;
      top: 100%;
    }
  }


  &.active {
    display: block;
  }

  .marker {
    background-image: url("http://api0.map.bdimg.com/images/blank.gif");
    img {
    }
  }
}