@import './components/activity_detail/activity_detail';
@import './components/activity_history_info/activity_history_info';
@import './components/activity_info/activity_info';
@import './components/search/search';

ground-page{
  background-color: color($colors, light);
  suidao-map{
    width: 100%;
    height: 100%;
    display: block;
    .BMap_shadow{
      display: none;
    }
    .BMapLabel{
      border-radius: 8px;
      color: color($colors, light);
    }
  }

  .button-full {
    margin-top: 3rem;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    color: color($colors, dark);
    &:active{
      background-color: rgba(255,255,255,0.5);
    }
  }

  .searchbar-container{
    position: absolute;
    background: transparent;
    z-index: 1000;
    width: 90%;
    left: 5%;

    ion-searchbar{
      background: rgba(255,255,255,0.4);
      border-radius: 5px;
      margin-top: 20px;
      border: none;
      .searchbar-search-icon{
        background-image: none;
        &:before{
          font-size: 2rem;
          margin-top: -0.1rem;
          content: "\f375";
          display: inline-block;
          font-family: "Ionicons";
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-rendering: auto;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          color: color($colors, dark);
        }
      }
      .searchbar-input-container{
        .searchbar-search-icon{
          margin-left: 0px !important;
        }
        input.searchbar-input{
          box-shadow: none;
          background-color: transparent;
          padding-left: 50% !important;
          margin-left: -42px;

          &::-webkit-input-placeholder {
            color: color($colors, dark);
          }
        }
      }
    }
  }
}